<div class="chat-container">
  <button mat-raised-button color="warn" class="clear-history" (click)="clearHistory()">Clear History</button>
  <div class="messages" #messageList>
    <mat-list>
      <ng-container *ngFor="let convo of conversations">
        <h3 class="conversation-title" *ngIf="convo.title">{{ convo.title }}</h3>
        <ng-container *ngFor="let msg of convo.messages">
          <mat-list-item [ngClass]="msg.author">
            <div class="message-content">{{ msg.content }}</div>
            <div class="rating" *ngIf="msg.author === 'Bot'">
              <button
                mat-icon-button
                (click)="rate(msg, 1)"
                [color]="msg.rating?.value === 1 ? 'primary' : undefined"
              >
                <mat-icon>thumb_up</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="rate(msg, -1)"
                [color]="msg.rating?.value === -1 ? 'warn' : undefined"
              >
                <mat-icon>thumb_down</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </div>

  <div class="input-area">
    <mat-form-field class="message-input">
      <input matInput [(ngModel)]="input" (keyup.enter)="send()" placeholder="Type your message..." />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="send()" [disabled]="isGenerating">Send</button>
    <button mat-raised-button color="warn" (click)="stop()" *ngIf="isGenerating">Stop</button>
  </div>
</div>
